.button{
    color:white;
}


.container {
    margin: 0;
    padding: 10%;
    height: 100%;
    background: url('../img/tokyo.jpeg')  center/cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100%;
    color:white;
    text-align: center;
    
}

p{
    text-align: center;
    margin:0;
    color: white; 
}
.header{
    text-align: center;
    margin:0;
    border-radius: 10px;
    color: white;
    background:linear-gradient(to right,#333,red);
}
button{
    text-align:center;
}