head{
    
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url('../img/ville.jpg"');
}

section{
    max-width: 100%;
    color:burlywood;
    border-radius: 25px;
   /* background-color: rgb(32, 51, 95);*/
    position: relative;
    text-align: center;
    padding:10px;
    box-shadow: 0 4px 8px rgba(0, 0, blue, alpha);
}
.entete{
    color:azure;
    background-color: rgb(36, 10, 65);
    top:0;

}
.container{
    width:100%;
    margin:1px;
    overflow:hidden;
}

.bouton1{
    position:absolute;
    top:10px;
    left:10px;
    color: azure;
    background-color: black;
}

.bouton2{
    position:absolute;
    top:30px;
    left:10px;
    color: rgb(202, 210, 210);
    background-color: black;
}
.bouton3{
    position:absolute;
    top:50px;
    left:10px;
    color: rgb(202, 210, 210);
    background-color: black;
}
body {
    background-image:url('../img/ville.jpg"');
    background-position: center;
}