body{
    background: url(../img/newYork.png) center/cover;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    margin:o;
    padding:0;
    flex-direction: column;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: white;
}

.btn-connex{
    position: absolute;
    color: white;
    font-weight: bolder;
    margin: 15px 10px;
    padding: 5px 5px;
    right: 0;
    width: auto;
    border: 2px solid white;
    border-radius: 10px 10px;
    transition: all ease-in-out 0.5s;
}

.btn-connex:hover{
    background-color: white;
    color: none;
}

.welcome{
    height: fit-content;
    margin: 150px 0;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 72px;
    animation: game 1.5s;
}

@keyframes game{
    0%{
        opacity: 0;
        transform: translateY(180px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}